@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,100&display=swap');
*{
    box-sizing: border-box; /*el padding no afectara el ancho*/
}
:root{
	--dark-color:#191919;
	--white-color:#FFFFFF;
	--purple-color:rgb(117,41,149);
	--blue-color:#00B2B1;
	--gray-color:#828282;
	--ligh-color:#F3F3F3;
}

body{
    font-size: 'Lato', sans-serif;
    font-size: 16px;
}
h1,h2,h3 { 
    font-family: 'Patua One', cursive;
    color: var(--purple-color)
}
p{
    color:var(--dark-color);    
    text-align: justify;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo img{
    max-width: 270px;
    width: 100%;
}
.boton1 {
    border-radius: 5px;
    border-color: var(--blue-color);
    border-style: bold;
    font-weight: bold;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color:var(--blue-color)
}
.boton1:hover{
    background-color: var(--blue-color);
    color:white;
}
.boton2 {
    border-radius: 5px;
    border-color: var(--purple-color);
    border-style: bold;
    font-weight: bold;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color:var(--purple-color)

}
.boton2:hover{
    background-color: var(--purple-color);
    color:white;

}
nav{
    display: flex;
    background-color: var(--purple-color)
    ;
}
.item{
    color:white;
    text-decoration: none;
    padding: 1rem;
}
.item:hover{
    color:rgba(247, 239, 239, 0.411);
    
}
#agenda{
    display: flex;
    justify-content: space-between;
    margin-top: 1px;
}
.cita{
    flex-basis: 70%;
    background-image: url(../img/fondo.jpg);
    padding: 2rem;
}
.cita h1 {
    color:var(--dark-color);
    text-transform: uppercase;
    font-size: 24px;

}
.cita h3{
    color:var(--dark-color);
    font-size: 16px;
    text-transform: uppercase;
    

    
}
.gratisbaño{
    flex-basis: 30%;
    background-color: var(--purple-color);
    text-align: center;
    padding: 2rem;

}
.gratisbaño h1 {
    color:var(--white-color);
    font-size: 28px;
    text-shadow: 2px 2px 2px  var(--dark-color);
}

.gratisbaño img{
    border-radius: 50%;
    border: 10px solid var(--white-color);
}
.tseccion {
    text-align: center;
    font-weight: bolder;
    text-shadow: 2px 2px 2px var(--dark-colors);
}
    

#cajaservicios{
    display: flex;
    justify-content:space-between;
    ;

    padding: 2em;


}
.servicio{
    margin: 1em;
    text-align: center;

    
   

}
.servicio img{
    width: 150px;

}
.

.text-servicio h3{
    color:var(--dark-color);
}


}
footer{
    background-image: url(../img/fondo.jpg);
}
.boxfooter{
    display: flex;
    justify-content:space-between;
    padding: 2rem;
    background-color: rgb(117,41,149,0.5);}
    
.foot{
    text-align: center;

}

.foot h3 {
    color: var(--white-color);
    font-weight:500;
}
.foot p{
    color:var(--white-color)
}

.cajabaner{

}

.cajabaner img {
max-width: 200%;
width: 100%;
}


.cajaequipo{
display: flex;
justify-content: space-between;
}
.equipo {
    text-align: center;

}
.tituloequipo {
    text-align: center;
}

.equipo img{
border-radius: 50%;
max-width: 150%;
width: 180px;

}
.equipo h3{
    text-align: center;
    margin-bottom: 0%;

}
.equipo h4{
color:black;
margin: 3px;

}
.equipo p{
margin: 20px;
text-align: center;
}

.principalservicios{
display: flex;
justify-content: space-around;
flex-wrap: wrap;
margin-left: 1rem;
}

.cajaservicio2{
    width: 35%;
    
    padding: 0.5rem;
}
.imgservicio img{
    width: 10rem;
    
}

#cajauno
{
background-color: #00B2B1;
display:flex;
width: 380px;
border-radius: 5px;
margin-left: 1em;

}

.textocontactanos{
    background-color:var(--purple-color);
    width: 15%;
    color: var(--white-color);
    text-align: center;
    margin-left: 4rem;
    
}
.textocontactanos h3{
    color:var(--white-color)
}
.cajaunoimagen{

width: 120px;

margin-left: 1em;
margin-top: 2.5em;

}


.cajaunoimagen img{
    border-radius: 50%;
    width: 100%;
    
}

.datos{
    margin-top: 1em;
    margin-left: 2em;
}
.dato1{
    display: flex;
}
.dato1 img{
    margin-right: 0.5rem;
}
.datos p{
    color: ;

}

#caja2{
width: 380px;
border-radius: 5px;
margin-left: 1em;
}
.direc{
background-color:var(--purple-color);
width: 50%;
color: var(--white-color);
text-align: center;
 
   
}
.mapa{
    width: 400px;
    height: 350px;
    margin-bottom: 20px;
   
}

#formulario{
    display: flex;
  width:400px;
  align-items: center;
    background-color:rgb(117,41,149,0.5);
    flex-direction: column;
    border-radius: 10px;
    padding: 15px;
  

}

#todaseccion{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    

}
.form-group{

padding: 1rem;

    
}
#supertip{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    margin-top: 2rem;
}

.cajatip{
    width: 40%;
    
}
.cajatip img{
margin: 1rem  7rem;
}

.cajatip h3{
    text-align: center;
}

/*login*/

#login{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.form-login{
    margin-top: 10px;
    max-width: 400px;
    width: 100%;
    box-shadow:  1px 1px 2px var(--dark-color);
    background-color: rgb(207, 201, 201);
    border-radius: 5px;
    padding: 40px;
    

}

.form-login h1{
    text-align: center;

}

.form-login img{
    background-color: rgb(207, 201, 201);
    opacity: 100%;
    padding: 1rem 0.8rem;
    border-radius: 100%;
    border: 4px solid var(--dark-color);
    
    width: 50px;
    height: auto;
    margin:0px auto;
    display:block;
    
}


.form-login a.olv{
    text-align: center;
    color: #191919;
    font-size: 18px;
}


/*label - input*/
.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

}
.form-group button{
    background-color: var(--blue-color);
    padding:5px;
}
.form-group a{
    color: rgb(233, 224, 224);
    text-decoration: none;
}

.form-label{
    font-weight: bold;
}

.form-input{
    border: 2px solid var(--gray-color);
    padding:0.5rem;
    outline: none;
}

/*doble dos puntos para entrar a un atricuto de una clase*/
.form-input::placeholder{
    font-size: 0.8rem;
}
.btn-azul{
    padding: 5px;
    font-weight: 500;
    background-color: aqua;
}
.btn-morado{
    padding:5px;
    font-weight: 500;
    background-color: purple;
}

.sesion{
text-align: center;
color: var(--purple-color);
display: flex;
align-items: center;
}

.sesion img{
    max-width: 60px;
    width: 100%;
    border-radius: 50%;
    border: 3px solid var(--purple-color)
}

#dashboard{
 display: flex;
}
.dashmenu{
    flex-basis: 20%;
    background-color:var(--dark-color);
    height: 100vh;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: smaller;
}
.dashmenu ul{
    list-style:none;
    padding: 0;
    display: flex;
    flex-direction: column;
    
}
.dashmenu a{
    color:var(--ligh-color);
    text-decoration: none;
    padding: 1rem;
    display: block;
   
}
.dashmenu a:hover{
color:var(--dark-color);
background-color:var(--purple-color);
border: 3px solid var(--white-color);
padding-left: 40px;
transition: all 2s;

}

.contenido{
flex-basis: 80%;
background-color:white;
padding:1rem;
}
.franjapaciente{
width: 800px;
}
.botonsalida{
    width: 70px;
    background-color:var(--blue-color);
    border-radius: 5px;
}
.botonsalida a{
    color: rgb(212, 212, 212);
    text-decoration: none;
    margin-left: 5px;
    text-align: center;
}